.aboutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Calibri, sans-serif;
  font-weight: bold;
  background-color: white;

  .leaflet-control-attribution {
    display: none !important;
  }

  img{
    border-radius: 50%;
  }

  .who-me {
    flex: 1;
    display: flex;
    justify-content: center;
    background-image: url("fon.png");
    background-size: auto;
    margin-top: 8px;
    background-color: white;
    width: 100%;


    .about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1338px;
      height: 558px;

      @media (max-width: 600px) and (min-width:375px) {
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
      }

      @media (max-width: 800px) and (min-width:600px) {
        width: 100%;
        height: 280px;
      }
     
      .circle-wrapper {
        position: relative;

        .one-img {
          position: absolute;
          top: 43px;
          left: 172px;
          width: 300px;
          height: 300px;

          @media (max-width: 1400px) {
            width: 250px;
            height: 250px;
          }

          @media (max-width: 1200px) {
            width: 225px;
            height: 225px;
            left: 202px;
          }

          @media (max-width: 1000px) {
            width: 200px;
            height: 200px;
            left: 162px;
            top: 100px;
          }

          @media (max-width: 800px) and (min-width:600px) {
            width: 120px;
            height: 120px;
            top: 40px;
            left: 125px;
          }

          @media (max-width:600px) and (min-width:500px) {
            width: 91px;
            height: 91px;
            top: -80px;
            left: 85px;
          }

          @media (max-width:500px) and (min-width:375px) {
            width: 91px;
            height: 91px;
            top: -80px;
            left: 65px;    
          }
          
        }

        .two-img {
          position: absolute;
          top: 195px;
          left: 4px;
          width: 336px;
          height: 336px;

          @media (max-width: 1400px) {
            top: 160px;
            left: 10px;
            width: 286px;
            height: 286px;
          }

          
          @media (max-width: 1200px) {
            top: 140px;
            left: 40px;
            width: 256px;
            height: 256px;
          }

          @media (max-width: 1000px) {
            top: 200px;
            left: 40px;
            width: 226px;
            height: 226px;
          }

          @media (max-width:800px){
            width: 130px;
            height: 130px;    
            top: 100px;
            left: 50px;        
          }

          @media (max-width:600px){
            width: 101px;
            height: 101px;    
            top: -30px;
            left: 40px;        
          }

          @media (max-width:500px){
            width: 101px;
            height: 101px;    
            top: -30px;
            left: 20px;     
          }

        }
      }

      p {
        width: 650px;
        height: 375px;
        margin-top: 144px;
        margin-right: 109px;
        font-size: 24px;
        text-align: justify;
        
        @media (max-width: 1400px) {
          font-size: 24px;
          width: 550px;
          height: 325px;
          margin-top: 154px;
          margin-right: 90px;
        }

        @media (max-width: 1200px) {
          font-size: 22px;
          width: 500px;
          height: 325px;
          margin-top: 134px;
          margin-right: 50px;
        }

        @media (max-width: 1000px) {
          font-size: 20px;
          width: 380px;
          height: 350px;
          margin-top: 144px;
          margin-right: 30px;
          text-wrap: wrap;
        }

        @media (max-width:800px)  {
          font-size: 14px;
          width: 300px;
          font-weight: 700;
          margin-top: 60px;
          margin-right: 25px;
        }

        @media (max-width:600px)  {
          font-size: 10px;
          width: 250px;
          font-weight: 700;
          margin-top: 275px;
          margin-right: 45px;
        }

        @media (max-width:500px)  {
          font-size: 10px;
          width: 180px;
          font-weight: 700;
          margin-top: 225px;
          margin-right: 25px;
        }
      }
    }
  }

  .we-doing {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #4B1218;
    background-image: url("fon2.png");
    background-size: auto;
    width: 100%;

    .about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1338px;
      height: 558px;
      margin: 57px 12px 60px 42px;

       @media (max-width: 600px)  {
        height: 150px;
        width: 100%;
      }

      @media (max-width: 800px)  {
        height: 180px;
        width: 100%;
      }

      .paragraph {
        color: white;
        margin-top: 30px;

        @media (max-width: 600px) {
          margin-top: 15px;
          margin-left: -40px;
        }

        @media (max-width: 800px) {
          margin-top: 25px;
          margin-left: -40px;
        }



        h2 {
          width: 100%;
          height: 90px;
          font-size: 64px;
          text-align: left;
          margin: 16px 51px 32px auto;

          @media (max-width: 1400px) {
            height: auto;
            font-size: 54px;
            margin: 56px 51px 32px 20px;
          }

          @media (max-width: 1200px) {
            font-size: 44px;
            margin-left: 15px;
            margin: 56px 51px 32px 20px;
          }

          @media (max-width: 1000px) {
            height: 100px;
            left: 162px;
            margin-top: 0;
          }

          @media (max-width: 800px) {
            font-size: 26px;
            height: 25px;
            margin-top: -30px;
          }


          @media (max-width: 600px) {
            font-size: 24px;
            width: 100%;
            height: 25px;
          }

          @media (max-width: 425px)  {
            font-size: 20px;
            height: 25px;
          }
        }

        p {
          width: 650px;
          height: 238px;
          font-size: 24px;
          text-align: justify;
          margin-left: 34px;

          @media (max-width: 1400px) {
          width: 550px;
          height: 200px;
          font-size: 22px;
          margin-left: 20px;
          }

          @media (max-width: 1200px) {
          width: 450px;
          height: 200px;
          font-size: 20px;
          margin-left: 20px;
          }

          @media (max-width: 1000px) {
            width: 300px;
            height: 200px;
          }

          @media (max-width: 800px)  {
            font-size: 12px;
             margin-left: 20px;
             width: 225px;
             height: 155px;
          }


          @media (max-width: 600px) {
           font-size: 10px;
            margin-left: 20px;
            width: 200px;
            height: 65px;
          }

          @media (max-width: 425px) {
            font-size: 10px;
            margin-left: 20px;
            width: 160px;
            height: 65px;
           }
        }
      }

      .circle-wrapper {
        position: relative;

        .one-img {
          position: absolute;
          width: 428px;
          height: 428px;
          top: 72px;
          right: 116px;
          background-color: white;
          border-radius: 50%;

          @media (max-width: 1400px) {
            width: 380px;
            height: 380px;
            top: 110px;
            right: 116px;
          }

          @media (max-width: 1200px) {
            width: 340px;
            height: 340px;
            top: 100px;
            right: 116px;
          }

          @media (max-width: 1000px) {
            width: 300px;
            height: 300px;
            top: 120px;
            right: 96px;
          }

          @media (max-width: 800px)  {
            width: 155px;
            height: 155px;
            top: 65px;
            right: 20px;
          }

          @media (max-width: 600px) {
            width: 115px;
            height: 115px;
            top: 55px;
            right: 55px;
          }

          @media (max-width: 425px) {
            width: 115px;
            height: 115px;
            top: 55px;
            right: 40px;
          }

        }

        .two-img {
          position: absolute;
          width: 480px;
          height: 484px;
          right: 11px;
          bottom: 110px;

          @media (max-width: 1400px) {
            width: 420px;
            height: 420px;
            right: 11px;
            bottom: 130px;
          }

          @media (max-width: 1200px) {
            width: 385px;
            height: 385px;
            right: 11px;
            bottom: 160px;
          }

          @media (max-width: 1000px) {
            width: 340px;
            height: 340px;
            right: 11px;
            bottom: 180px;
          }

          @media (max-width: 800px)  {
            width: 165px;
            height: 165px;
            bottom: 5px;
            right: 40px;
          }

          @media (max-width: 600px) {
            width: 125px;
            height: 125px;
            bottom: 20px;
            right: 25px;
          }

          @media (max-width: 425px) {
            width: 125px;
            height: 125px;
            bottom: 20px;
            right: 10px;
          }
        }
      }
    }
  }

  .contacts {
    flex: 1;
    display:flex;
    justify-content: center;
    background-image: url("fon.png");
    background-size: auto;
    width: 100%;

    

    .about {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 300px;
      width: 100%;
      height: auto;
      margin-bottom: 20px;

      @media (max-width: 900px) {
        flex-direction: column;
        margin: 0;
      }

      
      @media (max-width: 1050px) and (min-width:800px) {
        gap: 100px;
      }
     
      .ifrMap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        @media (max-width:900px) {
          width: 100%;
          padding-bottom: 120px;
          align-items: center;
          margin-right: 0;
        }

        h2{
          @media (min-width:900px) {
            display: none;
          }
          @media (max-width:900px) {
            font-weight: 700;
            font-size: 34px;
            color: white;
          }
        }
        iframe{
          transform: translateX(1em) translateY(1em);
          width: 700px;
          height: 500px;
          border-radius: 20px;

          @media (max-width: 1750px) {
            width: 500px;
            height: 400px;
          }
      
          @media (max-width: 1300px) {
            width: 400px;
            height: 300px;
          }
      
          @media (max-width: 1000px) {
            width: 300px;
            height: 250px;
            margin-right: 5em;
          }
          @media (max-width: 900px) {
            width: 80%;
            height: 400px;
            margin: 0;
            transform: none;
          }
        }
      }

      .infoAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-bottom: 20px;
  // background-image: url("fon.png");
  margin-left: 40px;

  @media (max-width: 800px) and (min-width: 320px) {
    // transform: translateX(1.5em);
  } 

  h2 {
    color: #4b1218;
    width: 260px;
    height: 90px;
    font-size: 64px;
    margin-bottom: 13px;

    @media (max-width: 1500px) {
      font-size: 54px;
    }

    @media (max-width: 1300px) {
      font-size: 44px;
      transform: translateY(0.5em);
    }

    @media (max-width: 1000px) {
      font-size: 34px;
      transform: translateY(1.5em);
    }

    @media (max-width: 900px) {
      font-size: 34px;
      transform: translateY(1em);
      margin-right: 50px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;

    div {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 488px;
      height: 72px;
      background-color: #4B12184D;
      border-radius: 15px;
      padding: 13px;
      font-family: Calibri, sans-serif;
      font-weight: bold;
      font-size: 32px;
      color: white;

      label {
        margin-right: 10px;
        flex-shrink: 0;
      }

      input {
        border: none;
        background: transparent;
        color: white;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        width: 100%;
        outline: none;
      }

      @media (max-width: 1500px) {
        font-size: 28px;
        width: 358px;
        height: 72px;
      }

      @media (max-width: 1300px) {
        font-size: 24px;
        width: 258px;
        height: 52px;
      }

      @media (max-width: 1000px) {
        font-size: 20px;
        width: 208px;
        height: 42px;
        transform: translateX(-1.5em);
      }

      @media (max-width: 900px) {
        font-size: 18px;
        width: 250px;
        height: 42px;
        text-align: center;

        label {
          display: none; // можно скрыть текст label на очень маленьких экранах
        }
      }
    }
  }
      }

    }

    @media screen and (max-width: 900px){ 
      .about {
        gap: 20px; 
      }
    
      .infoAbout {
        width: 100%;
        flex: 1;
        margin-left: 0;
      }
    
      .contacts.container h2 {
        font-size: 28px;
        width: 100%;
        text-align: center;
      }
    
      .contacts.container li {
        width: 100%;
        font-size: 16px;
        height: auto;
        padding: 10px;
        width: 350px;
        margin-bottom: 10px;
      }
    
      .ifrMap {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #4B1218;
        background-image: url("fon2.png");
        text-align: center;
        padding: 20px 0;
      
        h2 {
          font-weight: 700;
          font-size: 24px;
          color: white;
        }
      }
      
      .ifrMap iframe {
        width: 100%;
        height: 300px; 
        border-radius: 15px;
      }
    }

  }
}

      .contact-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        align-items: center;

        div {
          width: 100%;
          max-width: 420px;
          background-color: #4b1218;
          padding: 14px 20px;
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          transition: transform 0.2s ease, box-shadow 0.2s ease;

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
          }

          &::before {
            content: attr(data-icon);
            margin-right: 12px;
            font-size: 22px;
            color: #fff;
          }

          input {
            width: 100%;
            border: none;
            background: transparent;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            outline: none;
            cursor: default;
          }
        }

        @media (max-width: 900px) {
          gap: 10px;

          div {
            max-width: 100%;
            padding: 12px 16px;

            input {
              font-size: 16px;
            }
          }
        }

        @media (max-width: 500px) {
          div {
            width: 250px;
            padding: 10px 14px;

            input {
              font-size: 14px;
            }
          }
        }
      }
