.journal-container {
  background-color: rgba(75, 18, 24, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  .journal-header {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 10px 20px;
    position: relative;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    gap: 16px;

    .journal-back-arrow {
      position: absolute;
      left: 20px;
      width: 12px;
      height: 12px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      transform: rotate(45deg);
      cursor: pointer;
    }

    .journal-header-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      width: 100%;

      .journal-title {
        font-family: Muller, sans-serif;
        font-size: 18px;
        color: white;
        font-weight: 600;
        text-align: center;
      }

      .journal-type {
        font-family: "Inter", sans-serif;
        color: #e0e0e0;
        font-size: 14px;
        font-style: italic;
      }

      .journal-date {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #d0d0d0;
      }

      @media (max-width: 400px) {
        .journal-title {
          font-size: 16px;
        }
        .journal-type, .journal-date {
          font-size: 12px;
        }
      }
    }
  }

  .journal-table-wrapper {
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px 0 40px;
    overflow-x: auto;

    table {
      width: 100%;
      border-collapse: collapse;
      min-width: 350px;

      th,
      td {
        padding: 8px 6px;
        font-family: "Labil Grotesk", sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: #4b1218;
        border: 1px solid #4b1218;
        text-align: center;

        @media (max-width: 400px) {
          font-size: 12px;
          padding: 6px 4px;
        }
      }

      th {
        background-color: #f9f9f9;
        font-weight: 600;
      }

      .student-name {
        text-align: left;
        min-width: 150px;
        font-weight: 600;
        @media (max-width: 400px) {
          min-width: 120px;
        }
      }

      .student-group {
        min-width: 80px;
      }

      .attendance-mark {
        min-width: 60px;

        img {
          width: 26px;
          height: 24px;
          @media (max-width: 400px) {
            width: 22px;
            height: 20px;
          }
        }
      }
    }
  }
}
