.Home {
    width: 100%;
    height: 100%;
    font-family: "Labil Grotesk", sans-serif;
  
    .Banner {
        width: 100%;
        margin-top: 1em;
        height: 487px; 
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    
        .swiper-slide {
            margin: 0;
        }
    
        .BannerImg {
            // width: 400px;
            height: 487px; 
            object-fit: cover; 
        }

    
        @media screen and (min-width: 800px) and (max-width: 1400px) {
            height: 350px; 
    
            .BannerImg {
                height: 350px; 
            }
        }

        @media screen and (max-width: 800px) {
            height: 250px; 
    
            .BannerImg {
                height: 250px; 
            }
        }
    }
  
    .Events {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    
        .stateEvents {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 20px;
            border: 2px solid black;
            border-radius: 80px;
            padding: 0 5px;
            font-size: 20px;
            font-weight: 500;
            height: 56px;
            // transform: translateX(-12em);
    
            li {
                cursor: pointer;
                width: auto;
                padding: 0 10px;
                height: 46px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    
        .sliderHome {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            margin: 2em;
            max-width: 1300px;
          
            @media (max-width:800px) and (min-width:375px) {
              margin: 10px;
            }

        }

       



        @media screen and (min-width: 950px) and (max-width: 1400px) {
            .stateEvents {
                font-size: 16px;
                height: 46px; 
                gap: 15px; 
                padding: 0 5px; 
                // transform: translateX(-6em); 
    
                li {
                    height: 36px; 
                    padding: 0 8px; 
                }
    
                .active {
                    min-height: 36px; 
                    min-width: 90px; 
                    font-size: 16px;
                }
            }
        }


        @media (min-width: 600px) and (max-width: 850px) {
          .stateEvents {
              font-size: 12px;
              height: 46px; 
              gap: 5px; 
              padding: 0 5px; 
              transform: translateX(0em); 

              
              li {
                  height: 36px; 
                  padding: 0 8px; 
              }
  
              .active {
                  min-height: 36px; 
                  min-width: 90px; 
                  font-size: 12px;
              }
          }
      }


      @media (min-width: 320px) and (max-width: 600px) {
        .stateEvents {
            font-size: 7px;
            height: 36px; 
            gap: 5px; 
            padding: 0 5px; 
            transform: translateX(0em); 

            
            li {
                height: 26px; 
                padding: 0 8px; 
            }

            .active {
                min-height: 26px; 
                min-width: 90px; 
                font-size: 8px;
            }
        }
    }
    
        @media (min-width: 850px) and (max-width: 950px) {
            .stateEvents {
                font-size: 14px; 
                height: 40px; 
                gap: 10px; 
                padding: 0 5px; 
                // transform: translateX(-8em); 
    
                li {
                    height: 30px; 
                    padding: 0 6px; 
                }
    
                .active {
                    min-height: 30px; 
                    min-width: 80px; 
                    font-size: 14px; 
                }
            }
        }
    }

    .TopT {
        text-align: center;
        position: relative;
        border-top: 5px solid #4B1218;
      
        h2 {
          color: #5C131C;
          font-weight: bold;
          font-size: 64px;
        }

        .WinnerItem{
          @media screen and (max-width: 800px) and (min-width: 320px) {
            .Card {
              background-color: #4B1218;
            }
          }
        }
      
        .CardTop {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: 100%;
          list-style-type: none;
          margin: 0;
          padding: 0;
      
          img {
            border-radius: 50%;
          }
      
          li:nth-child(3) {
            transform: translateX(-5em);
          }

          li:nth-child(1) {
            @media screen and (max-width:800px) and (min-width:375px) {
              .Card{
                width: 600px;
              }
            }
          }
      
          .KingTop {
            transform: translateX(-8em) translateY(-25em);
          }
      
          li:nth-child(2) {
            order: -1;
            transform: translateX(5em);
          }
        }

        @media screen and (max-width: 1050px) {
            h2 {
              font-size: 44px;
              margin-bottom: 1.5em;
            }
        
            .CardTop {
              .KingTop {
                transform: translateX(-5.5em) translateY(-20em);
                width: 150px;
              }
            }
      }
  
      @media (max-width:1050px) and (min-width:800px) {
          h2{
            font-size: 34px;
            margin-bottom: 1em;
          }
      }
  
      @media (max-width:800px) and (min-width:600px) {
          h2{
            font-size: 24px;
            margin-bottom: 0.5em;
          }

          .CardTop {
            li:nth-child(3) {
              transform: translateX(-4.5em);
            }
  
            li:nth-child(1) {
              transform: translateY(1em);
            }
        
            .KingTop {
              transform: translateX(-5em) translateY(-17.5em);
              width: 125px;
            }
        
            li:nth-child(2) {
              order: -1;
              transform: translateX(4.5em);
            }
          }
      }

          @media (max-width:600px) and (min-width:375px) {
            h2{
              font-size: 20px;
              margin-bottom: 10px;  
            }

            .CardTop {
              li:nth-child(3) {
                transform: translateX(-4.2em);
              }

              li:nth-child(1) {
                transform: translateY(1em);
              }
          
              .KingTop {
                transform: translateX(-3em) translateY(-13em);
                width: 100px;
              }
          
              li:nth-child(2) {
                order: -1;
                transform: translateX(4.2em);
              }
            }
        }
      }

    .aboutHome {
      max-height: 619px;
      padding: 40px;
      border: 1px solid #4B1218;
      background-color: #4B1218;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
  
      .contentAbout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 100%;
        width: 100%;
  
        .textAbout {
          height: 100%;
          width: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 20px;
  
          h3 {
            font-size: 64px;
            font-weight: 700;
            margin: 0;
          }
  
          p {
            font-weight: 700;
            font-size: 24px;
            width: 30em;
          }
  
        }
  
        .imgAbout {
          height: 437px;
          width: 692px;
          border-radius: 30px;
          border: 1px solid white;
          margin-right: 25px;
        }
      }
  
        @media screen and (max-width: 1475px) {
      
          .contentAbout{
            height: 100%;
            .imgAbout {
                width: 400px;
                height: 400px;
  
            }
            .textAbout{
              h3 {
                font-size: 54px;
                font-weight: 700;
              }
  
              p {
                font-weight: 700;
                font-size: 24px;
              }
            }
         }
        }

        @media screen and (max-width: 1250px) {
      
            .contentAbout{
              .imgAbout {
                  width: 300px;
                  height: 300px;
              }
              .textAbout{
                h3 {
                  font-size: 44px;
                }
    
                p {
                  font-size: 20px;
                }
              }
          }
        } 


        @media screen and (max-width: 1050px) {
      
            .contentAbout{
                gap: 10px;
                .imgAbout {
                  width: 200px;
                  height: 200px;
                }
                .textAbout{
                    gap: 10px;
                    h3 {
                      font-size: 40px;
                    }
        
                    p {
                      font-size: 16px;
                    }
                  }
          }
        } 

        @media (min-width:800px) and (max-width:1050px) {
          height: auto;
          padding: 30px;

          .contentAbout{

            .imgAbout {
              width: 180px;
              height: 180px;
              border: 2px solid white;
            }

            .textAbout{
              gap: 5px;
              h3{
                font-size: 34px;
              }
              p{
                font-size: 12px;
              }
            }
           
          }
        }

        @media (min-width:451px) and (max-width:800px) {
          height: auto;
          padding: 20px;

          .contentAbout{
            gap: 5px;
            .imgAbout {
              width: 150px;
              height: 150px;
              border: 2px solid white;
            }

            .textAbout{
              gap: 10px;
              margin-left: 20px;
              h3{
                font-size: 24px;
              }
              p{
                font-size: 8px;
              }
            }
           
          }
        }

        @media  screen and (max-width:450px) {
          height: auto;
          padding: 10px;

          .contentAbout{
            gap: 25px;
            .imgAbout {
              width: 125px;
              height: 125px;
              border: 2px solid white;
              margin-right: 0;
            }

            .textAbout{
              gap: 5px;
              h3{
                font-size: 20px;
              }
              p{
                font-size: 6px;
              }
            }
           
          }
        }
    }
  
    .manager {
      font-family: "Calibri", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 25px;
    
      h2 {
        font-size: 64px;
        font-weight: 700;
        padding-bottom: 5px;
        color: #4B1218;
        width: 100%;
        margin-left: 25px;
      }
    
      ul.manager__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
    
        li {
          width: 399px;
          height: 326px;
          margin: 10px;
    
          .card_manager {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
    
            img {
              height: 200px;
              width: 200px;
              border-radius: 50%;
            }
    
            h4 {
              font-weight: 700;
              font-size: 40px;
              margin: 5px 0;
            }
    
            p {
              font-weight: 700;
              font-size: 20px;
              margin: 0;
              padding: 0 1em;
              color: white;
              background-color: #4B1218;
              border-radius: 48px;
            }
          }
        }
    
        li:nth-child(2) {
          order: -1;
        }
    
        li:nth-child(1) {
          transform: translateY(-3em);
        }
      }
    
      .manager__slider {
        display: none;
        // width: 350px;
        width: 100%;
        margin: 20px 0;

        .swiper{
          width: 350px;

        }
    
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
        }
    
        .card_manager {
          max-width: 350px;
          width: 100%;
          margin: 0 auto;
          text-align: center;
    
          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
    
          h4 {
            font-size: 28px;
            margin: 0;
          }
    
          p {
            font-size: 16px;
            color: white;
            background-color: #4B1218;
            border-radius: 48px;
            padding: 0 1em;
            margin: 10px 0;
          }
        }
      }
    
      @media (max-width: 1440px) {
        h2 {
          font-size: 54px;
        }
      }
    
      @media (max-width: 1050px) {
        h2 {
          font-size: 44px;
        }
      }
    
      @media (max-width: 800px) {

        .manager{
          display: flex;
          justify-content: center;
        }

        h2 {
          font-size: 24px;
          text-align: center;
          margin-left: 0;
          width: 100%;
        }
    
        ul.manager__list {
          display: none;
        }
    
        .manager__slider {
          display: flex;
          justify-content: center;
        }
      }
    }
    

}