.profile {
  font-family: "Calibri", "sans-serif";
  margin-top: 38px;
  width: 1332px;
  height: 412px;
  background-color: #4B1218;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;

  .photoProf {
    height: 362px; 
    width: 336px; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
    margin-left: 3em;
    position: relative; 

    .butPhotos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px; 
      gap: 5px; 
      position: absolute;
      bottom: 0; 
      left: 50%; 
      transform: translateX(-12em);
    }

    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover; 
      object-position: center; 
      flex-shrink: 0; 
      transform: translateX(0.5em);
    }

    .addPhotos {
      background-color: white;
      color: #4B1218;
      border: 3px solid #4B1218;
      width: 200px;
      height: 50px;
      border-radius: 30px;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .deletePhotos {
      background-color: #4B1218;
      border: 3px solid white;
      color: white;
      width: 200px;
      height: 50px;
      border-radius: 30px;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .InfoProfile {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .buttonEdit {
      width: 217px;
      height: 60px;
      color: #4B1218;
      border-radius: 30px;
      background-color: white;
      font-size: 26px;
      font-weight: 700;
      transform: translateY(1.5em) translateX(10em);
      cursor: pointer;
    }

    span {
      position: absolute;
      top: -5px;
      right: 25px;
      font-weight: 700;
      font-size: 80px;
      color: white;
      width: 30px;
      height: 30px;
      cursor: pointer;
      img{
        filter: brightness(0) invert(1);
        height: 40px ;
        width: 40px;
      }

      @media (max-width:900px) {
        top: 5px;
        right: 20px;

        img{
          height: 30px;
          width: 30px;
        }
      }
    }

    .infoPerson {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .inputGroup {
      margin-bottom: 20px;
    }

    .inputGroup p {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #C7C7CC;
    }

    .inputGroup input {
      width: 321px;
      height: 30px;
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      outline: none;
      padding: 5px 0;
      font-weight: 700;
      font-size: 20px;
      display: flex;
      flex-wrap: wrap;
    }

    .inputGroup input[readonly] {
      color: white;
    }
  }
}

@media (max-width:1400px){
  .profile{
      width: 80%;
      max-width: 850px;
      max-height: 660px;
      margin: 0;

      .InfoProfile{
        padding-top: 40px;
        padding-left: 40px;
        justify-content: space-around;
        gap: 20px;
        .infoPerson{
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
        }
        .buttonEdit{
          transform:  translateX(0em);
          height: 37px;
          font-size: 22px;
        }
        span{
          font-size: 48px ;
        }
        .inputGroup p{
          font-size: 11px;
        }
        .inputGroup input{
          width: auto;
          font-size: 20px;
          margin: 0;
        }
        .inputGroup{
          margin: 0;
        }

      }

      .photoProf{
        padding-top: 10px;
        margin-left: 10px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          padding: 5px;
          width: 200px;
          height: 200px;
          transform: none;
        }
        .deletePhotos{
          width: auto; 
          height: auto;
          padding: 8px 16px;
          font-size: 12px;
          border: 1px solid white;
        }
        .addPhotos{
          width: auto;
          height: auto;
          padding: 8px 16px;
          font-size: 12px;
        }
        .butPhotos {
          justify-content: center;
          align-items: center;
          margin: 0;
          bottom: 0; 
          left: 0; 
          transform: translateX(0em);
          position: relative;
          text-align: center;
        }
    }
  }

}

@media (max-width:900px){
  .profile{
      width: 80%;
      max-width: 545px;
      height: 660px;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      justify-content: space-between;

      .InfoProfile{
        justify-content: flex-end;
        width: 80%;
        flex-grow: 0;
        padding: 0px 0 20px 0;
        max-height: 500px;
        .infoPerson{
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
        }
        .buttonEdit{
          transform:  translateX(0em);
          width: 80%;
          height: 37px;
          font-size: 22px;
        }
        span{
          font-size: 48px ;
        }
        .inputGroup p{
          font-size: 11px;
        }
        .inputGroup input{
          width: auto;
          font-size: 20px;
          margin: 0;
        }
        .inputGroup{
          margin: 0;
        }

      }

      .photoProf{
        padding-top: 10px;
        margin-left: 0;
        height: auto;
        img{
          padding: 5px;
          width: 150px;
          height: 150px;
          transform: none;

        }
        .deletePhotos{
          width: auto;
          height: auto;
          padding: 8px 16px;
          font-size: 12px;
          border: 1px solid white;
        }
        .addPhotos{
          width: auto;
          height: auto;
          padding: 8px 16px;
          font-size: 12px;
        }
        .butPhotos {
          justify-content: center;
          align-items: center;
          margin: 0;
          bottom: 0; 
          left: 0; 
          transform: translateX(0em);
          position: relative;
        }
    }
  }

}

@media (max-width:600px){
  .profile{
      width: 80%;
      max-width: 345px;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      max-height: 100%;

      .InfoProfile{
        width: 80%;
        height: 100%;
        max-height: 100%;
        justify-content: space-between;
        padding: 40px 0 20px 0;
        .infoPerson{
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
        }
        .buttonEdit{
          transform:  translateX(0em);
          width: 80%;
          height: 37px;
          font-size: 22px;
        }
        span{
          font-size: 48px ;
        }
        .inputGroup p{
          font-size: 11px;
        }
        .inputGroup input{
          width: auto;
          font-size: 20px;
          margin: 0;
        }
        .inputGroup{
          margin: 0;
        }

      }

      .photoProf{
        padding-top: 10px;
        margin-left: 0;
        margin-top: 20px;
        height: auto;
        img{
          padding: 5px;
          width: 150px;
          height: 150px;
          transform: none;

        }
        .deletePhotos{
          width: auto;
          height: auto;
          padding: 8px 16px;
          font-size: 12px;
          border: 1px solid white;
        }
        .addPhotos{
          width: auto;
          height: auto;
          padding: 8px 16px;
          font-size: 12px;
        }
        .butPhotos {
          justify-content: center;
          align-items: center;
          margin: 0;
          bottom: 0; 
          left: 0; 
          transform: translateX(0em);
          position: relative;
        }
    }
  }

}