.profile {
  font-family: "Calibri", "sans-serif";
  margin-top: 38px;
  width: 1332px;
  height: 412px;
  background-color: #4B1218;
  border-radius: 30px;
  display: flex;
  align-items: center;

  .photoProf {
    height: 362px; 
    width: 336px; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
    margin-left: 3em;
    position: relative; 

    .butPhotos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px; 
      gap: 5px; 
      position: absolute;
      bottom: 0; 
      left: 50%; 
      transform: translateX(-12em);
    }

    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover; 
      object-position: center; 
      flex-shrink: 0; 
      transform: translateX(0.5em);
    }

    .addPhotos {
      background-color: white;
      color: #4B1218;
      border: 3px solid #4B1218;
      width: 200px;
      height: 50px;
      border-radius: 30px;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .deletePhotos {
      background-color: #4B1218;
      border: 3px solid white;
      color: white;
      width: 200px;
      height: 50px;
      border-radius: 30px;
      font-weight: 700;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .InfoProfile {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    .buttonEdit {
      width: 217px;
      height: 60px;
      color: #4B1218;
      border-radius: 30px;
      background-color: white;
      font-size: 26px;
      font-weight: 700;
      transform: translateY(1.5em) translateX(10em);
      cursor: pointer;
    }

    span {
      position: absolute;
      top: 5px;
      right: 0.5em;
      font-weight: 700;
      font-size: 80px;
      color: white;
    }

    .infoPerson {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .inputGroup {
      margin-bottom: 20px;
    }

    .inputGroup p {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #C7C7CC;
    }

    .inputGroup input {
      width: 321px;
      height: 30px;
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
      outline: none;
      padding: 5px 0;
      font-weight: 700;
      font-size: 20px;
      display: flex;
      flex-wrap: wrap;
    }

    .inputGroup input[readonly] {
      color: white;
    }
  }
}

/* .............................Адаптивка..................................*/
@media (min-width: 320px) and (max-width:800px){
  .profile{
      width: 345px;
      height: 660px;
      flex-direction: column;
      margin: 0;




      .InfoProfile{
        position: absolute;
        width: 345px;
        height: 800px;
        .infoPerson{
          justify-content: flex-start;
          flex-direction: column;
          align-items: center;
        }
        .buttonEdit{
          transform:  translateX(0em);
          width: 282px;
          height: 37px;
          font-size: 22px;
          margin-top: 10px;
        }
        span{
          font-size: 48px ;
        }
        .inputGroup p{
          font-size: 11px;
        }
        .inputGroup input{
          font-size: 20px;
          margin: 0;
        }
        .inputGroup{
          margin: 0;
        }

      }

      .photoProf{

        margin-left: 0;
        height: 100px;
        img{
          padding: 5px;
          width: 116px;
          height: 116px;
          transform: none;

        }
        .deletePhotos{
          width: 52px;
          height: 17px;
          font-size: 5px;
          border: 1px solid white;
        }
        .addPhotos{
          width: 74px;
          height: 17px;
          font-size: 8px;
        }
        .butPhotos {
          justify-content: center;
          align-items: center;
          margin: 0;
          bottom: 0; 
          left: 0; 
          transform: translateX(0em);
          position: relative;
        }
    }
  }

}