.active {
  color: white;
  background-color: #4B1218;
  min-height: 46px;
  min-width: 110px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.swiper {
  --swiper-navigation-size: 20px;

  .swiper-button-prev,
  .swiper-button-next {
    content: 'public\img\arrow-circle-left.png';
    color: #4b1218;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #4b1218;
    border-radius: 50%;
  }

}

.sliderContainer {
  .swiper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 2em;
  }

  .swiper-button-prev {
    transform: translateX(1.8em);
  }

  .swiper-button-next {
    transform: translateX(0em);
  }

  .swiperSlide {
    position: relative;
    display: inline-block;
    border: 5px solid #5C131C;
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
    height: 250px;

    .SliderImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .textOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 85px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 10px;
      text-align: center;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .textOverlay p {
      margin: 0;
      word-wrap: break-word;
    }
  }
}

.Home {
  width: 100%;
  height: 100%;
  font-family: "Labil Grotesk", sans-serif;

  .Banner {
    width: 100%;
    margin-top: 1em;
    height: 687px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    .swiper-slide {
      margin: 0;
    }

    .BannerImg {
      width: 100%;
      height: 687px;
    }

  }

  .Events {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    .stateEvents {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 20px;
      border: 2px solid black;
      border-radius: 80px;
      padding: 0 5px;
      font-size: 20px;
      font-weight: 500;
      height: 56px;
      transform: translateX(-12em);
    }
    
    .stateEvents li {
      cursor: pointer;
      width: auto;
      padding: 0 10px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    

    .sliderHome {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-direction: row;
      margin: 2em;
      max-width: 1300px;
    }
  }

  .TopT {
    text-align: center;
    position: relative;
    border-top: 5px solid #4B1218;

    h2 {
      color: #5C131C;
      font-weight: bold;
      font-size: 64px;
    }

    .CardTop {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      img{
        border-radius: 50%;
      }

      li:nth-child(3) {
        transform: translateX(-5em)
      }

      .KingTop {
        transform: translateX(-8em) translateY(-25em);
      }

      li:nth-child(2) {
        order: -1;
        transform: translateX(5em)
      }
    }
  }

  .aboutHome {
    height: 619px;
    width: 100%;
    border: 1px solid #4B1218;
    background-color: #4B1218;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    .contentAbout {
      display: flex;
      flex-direction: row;

      .textAbout {
        margin: 10px 33px;

        h3 {
          font-size: 64px;
          font-weight: 700;
          margin: 0;
        }

        p {
          width: 649px;
          height: 238px;
          font-weight: 700;
          font-size: 24px;
        }

      }

      .imgAbout {
        height: 437px;
        width: 692px;
        border-radius: 30px;
        border: 1px white;
      }
    }

  }

  .manager {
    font-family: Calibri, sans-serif;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 64px;
      font-weight: 700;
      padding-bottom: 5px;
      transform: translateX(-7em);
      color: #4B1218;
    }

    ul {
      list-style-type: none;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;

      li {
        width: 399px;
        height: 326px;

        .card_manager {
          width: 100%;
          height: 326px;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          text-align: center;
          align-items: center;

          img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
          }

          h4 {
            font-weight: 700;
            font-size: 40px;
            margin: 5px 0;
          }

          p {
            font-weight: 700;
            font-size: 20px;
            margin: 0;
            padding: 0 1em;
            color: white;
            background-color: #4B1218;
            border-radius: 48px;
          }
        }
      }

      li:nth-child(2) {
        order: -1;
      }

      li:nth-child(1) {
        transform: translateY(-3em);
      }

    }
  }
}

.Contests {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  .MyEvents {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 5px solid #4B1218;


    h2 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      background-color: #4B1218;
      color: white;
      height: 80px;
    }

    .slider_cont {
      margin-top: 53px;
      width: 1385.02px;
      height: 272px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .BannerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1415.35px;
    height: 590px;
    border-radius: 30px;
    margin-top: 38px;

    .bannerSlider {
      .swiper {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding-left: 2em;
      }


      .swiper-button-prev {
        transform: translateX(2em);
      }

      .swiper-button-next {
        transform: translateX(0em);
      }
    }
  }

  .EventsCont {
    width: 1336.06px;
    height: 1057px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .arrEvents {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }

    .statesCont {
      width: 918px;
      height: 96px;
      list-style-type: none;
      font-size: 34px;
      border: 5px solid black;
      border-radius: 137px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 0;
      transform: translateX(-5em);

      .activeCont {
        background-color: #4B1218;
        border-radius: 82.29px;
        color: white;
      }

      li {
        margin: 5px;
        width: 291.86px;
        height: 78.86px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-family: "Labil Grotesk", sans-serif;

        b{
          cursor: pointer;
        }
      }
    }

    .paginationEvents {
      font-family: "Calibri", sans-serif;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 30px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        font-weight: 700;
        font-size: 32px;
        background-color: white;
        color: #4B1218;
        border: 1px solid #4B1218;
        cursor: pointer;

        img {
          width: 62px;
          height: 62px;
        }
      }

      li:first-child {
        width: 62px;
        height: 62px;
        border: 0;
      }

      li:last-child {
        border: 0;
        width: 62px;
        height: 62px;

        img {
          transform: rotate(180deg);
        }
      }

      .active_page {
        background-color: #4B1218;
        color: white;
      }
    }

  }
}

.Members {
  width: 100%;
  height: 100%;
  font-family: "Calibri", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  .supervisor {
    height: 485px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    h2 {
      font-size: 64px;
      font-weight: 700;
      padding-bottom: 5px;
      color: #4B1218;
      margin: 10px 0 0 0;
    }

    .cardSupervisor {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 2em;

      

      li:nth-child(1) {
        border: 5px solid #4B1218;
      }

      li:nth-child(3) {
        order: -1;
      }

      li {
        border: 3px solid #4B1218;
        width: 400px;
        height: 330px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;



        img {
          height: 200px;
          width: 200px;
          transform: translateY(26px);
          border-radius: 50%;

        }


        h4 {
          font-weight: 700;
          font-size: 30px;
          transform: translateY(-10px);
        }

        p {
          font-weight: 700;
          font-size: 20px;
          margin: 0;
          padding: 0 1em;
          color: white;
          background-color: #4B1218;
          border-radius: 48px;
          transform: translateY(-30px);
        }
      }


    }
  }


  .rating {
    margin-top: 40px;
    background-image: url("../public/img/Фон.png");
    background-color: #4B1218;
    color: white;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 64px;
      font-weight: 700;
      margin-top: 17px;
    }

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      li:nth-child(2) {
        transform: translateX(-15em);
        margin-bottom: 30px;
      }

      li:nth-child(3) {
        position: absolute;
        top: 208px;
        right: 200px;
      }
    }

    .cardRating {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: black;
      width: 420px;
      height: 200px;
      border: 5px solid #4B1218;
      border-radius: 32px;
      background-color: white;

      .textCard {
        width: 260px;
        height: 200px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .imgRating {
        width: 160px;
        height: 160px;
        margin: 20px 8px 20px 20px;
        border-radius: 50%;
      }

      .KingTop {
        position: absolute;
        transform: translateY(-5.5em) translateX(-3.2em);
        height: 150px;
        width: 150px;
      }

      .numRating {
        width: 108.73px;
        height: 43.28px;
        border-radius: 16px;
        background-color: #4B1218;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(30px) translateY(-10px);
      }

      .positionRating {
        color: #4B1218;
        font-size: 26px;
        font-weight: 700;
        transform: translateY(0) translateX(70px);

        b {
          font-size: 42px;
          font-weight: 700;
        }
      }

      .textInfo {
        width: 250px;
        height: 72px;
        font-size: 25px;
        font-weight: 700;
        color: black;
        // overflow: hidden;

        .textName,
        .textGroup {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
      }
    }

    .cardWithButton {
      background-color: #f0f0f0;
      width: 1264px;
      height: 200px;


      .textCard {
        width: 1080px;
        height: 200px;
        display: flex;
        justify-content: space-between;

        .textInfo {
          flex-grow: 1;
          width: 418px;
          height: 80px;
          transform: translateX(-12em) translateY(-1em);
          display: flex;
          flex-direction: column;
          justify-content: center;

          .textName {
            font-size: 48px;
            font-weight: 700;
          }
        }

        .numRating {
          width: 200px;
          height: 80px;
          font-weight: 700;
          font-size: 50px;
          transform: translateX(8em) translateY(-1em);
        }

        .positionRating {
          width: 40px;
          height: 60px;
          transform: translateX(19em);
        }
      }


      .detailsButton {
        background-color: white;
        color: #4B1218;
        border: 2px solid #4B1218;
        width: 268px;
        height: 50px;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 700;
        font-size: 32px;
        transform: translateY(-1.5em) translateX(-3em);
      }
    }
  }
}

.Account {
  font-family: "Labil Grotesk", "sans-serif";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .navigation_account {
    color: white;
    background-color: #4B1218;
    width: 758px;
    height: 56px;
    border-radius: 80px;
    list-style-type: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0;
    
   


    .activeAcc {
      background-color: white;
      color: black;
      border-radius: 48px;
      width: 188px;
      height: 48px;
    }

    li {
      margin: 5px;
      font-size: 20px;
      font-weight: 500;
      width: 162px;
      height: 46px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

@media (max-width: 400px) {
    .Account{
      align-items: center;
      width: 375px;
      

      .navigation_account {
        width: 200px;

        li{
          font-size: 2px;
        }
      }
    }
}

//----------------Адаптивка-----------------------

@media (max-width: 400px) {
  .Members {

    max-width: 400px;
    margin: 0 auto;
    justify-content: center;
    

    .supervisor {
      justify-content: flex-start;
      height: auto; 
      align-items: center;
      transform: translateX(-18px);

      h2 {
        font-size: 24px; 
        padding: 0;
        margin-left: 40px;
      }

      .cardSupervisor {
        align-items: center;
        gap: 1em;
        flex-wrap: wrap-reverse;


        li:nth-child(1) {
          border: 1px solid #4B1218;
          order: 2;
        }


        li {
          width: 170px; 
          height: 150px; 
          padding: 15px 0;
          border: 1px solid #4B1218;

          img {
            width: 80px; 
            height: 80px;
            transform: none; 
          }

          h4 {
            font-size: 18px;
            transform: none;
            margin: 5px;
          }

          p {
            font-size: 10px;
            transform: none;
            margin: 5px;
          }
        }
      }
    }
    .rating{
      width: 400px;
      max-width: 400px;
      margin-top: 0;
      h2{
        font-size: 32px;
        margin-bottom: 0;
      }
      ul{
        width: 400px;
        transform: translateX(-18px);
        li:nth-child(3){
          height: auto;
          right: 0;
          position: absolute;
          top: 0;
          width: 165px;
          height: 83px;
          transform:  translateX(-30px) translateY(98px);
          border: none;
          border-radius: 8px;
          .numRating{
            transform: translateX(0px) translateY(-70px)!important;
          }
          .positionRating{
            transform: translateX(55px) translateY(65px) !important;}
            .textInfo{
              transform: none !important;
              .textName{
                font-size: 8px !important;
              }
            } 
        }
        li:nth-child(2){
          transform:  translateX(-85px);
          margin-bottom: 0;
          width: 165px;
          height: 83px;
          .numRating{
            transform: translateX(0px) translateY(-70px)!important; 
          }
          .positionRating{
            transform: translateX(55px) translateY(65px) !important;
          }
          .textInfo{
            transform: none !important;
            .textName{
              font-size: 8px !important;
            }
          }          
        }
        li:nth-child(1){
          width: 335px;
          height: 83px;
          .imgRating{
            width: 71px;
            height: 71px;
          }
          .numRating{
            width: 93px;
            height: 43px;
          }
          .positionRating{
            transform: translateY(65px) translateX(215px) !important;
          }
          .textInfo{
            transform: none !important;
            .textName{
              font-size: 8px !important;
            }
          } 
        }
        .cardRating{
          width: 328px;
          height: 64px;
          border-radius: 15px;
          .KingTop{
            width: 41px;
            height: 40px;
            transform: translateX(-10px) translateY(-32px);
          }
          .imgRating{
            width: 60px;
            height: 60px;
          }
          .textCard{
            align-items: start;
              .textInfo{
                width: 140px;
                height: 30px;
                left: 80px;
                transform: translateY(-10px);
                .textName, .textGroup{
                  font-size: 8px;
                  transform: none;
                }
                .textName{
                  font-size: 15px;
                }
              }
              .positionRating{
                transform: translateY(70px) translateX(205px);
                  font-size: 13px;
                  b{
                    font-size: 13px;
                  }

              }
              .numRating{
                display: block;
                
                width: 70px;
                height: 25px;
                transform: translateX(6.5em) translateY(-3.5em);
                font-size: 20px;
              }
              .detailsButton{
                width: 83px;
                height: 15px;
                font-size: 10px;
                transform: translateX(40px) translateY(-72px);
              }
            
          }

        }
        .cardWithButton{
          width: 80%;
          .detailsButton{
            border: 1px solid #4B1218;
            font-weight: 300;
          }
        }
      }
    }
  }
}