.active{
  color: white;
  background-color: #4B1218;
  min-height: 46px;
  min-width: 110px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.swiper{
  --swiper-navigation-size: 20px;
  .swiper-button-prev,
  .swiper-button-next {
    content: 'public\img\arrow-circle-left.png';
    color: #4b1218;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #4b1218;
    border-radius: 50%;
  }

}

.sliderContainer {
  .swiperSlide {
    position: relative;
    display: inline-block;
    border: 5px solid #5C131C;
    border-radius: 21.76px;
  }


  // .SlaiderImg{
    
  // }

  .textOverlay {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 390px; 
    height: 85px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center; 
    justify-content: center; 
  }

  .textOverlay p {
    margin: 0;
    word-wrap: break-word; 
  }

  .swiper {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 2em;
  }

  .swiper-button-prev {
    transform: translateX(2em);
  }

  .swiper-button-next {
    transform: translateX(0em);
  }
}


.Home{
  width: 100%;
  height: 100%;
  font-family: "Labil Grotesk", sans-serif;

  .Banner{
    width: 100%;
    margin-top: 1em;
    height: 687px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    .swiper-slide {
      margin: 0;
    }

    .BannerImg{
      width: 100%;
      height: 687px;
    }
    
  }

  .Events{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: 85px;

    .stateEvents{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 2px solid black;
      border-radius: 80px;
      width: 675px;
      height: 56px;
      font-size: 20px;
      font-weight: 500;
      padding: 0 5px;
      transform: translateX(-15em);
    
    
      li{
        cursor: pointer;
      }
    }
    
    .sliderHome{
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-direction: row;
      margin: 2em;
      max-width: 1300px;
    }
  }

  .TopT {
    text-align: center;
    position: relative;
    border-top: 5px solid #4B1218;
  
    h2 {
      color: #5C131C;
      font-weight: bold;
      font-size: 64px;
    }
  
    .CardTop {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li:nth-child(1){
        transform: translateX(5em)
      }

      li:nth-child(3){
        transform: translateX(-5em)
      }

      li:nth-child(2){
        transform: translateY(2em);
        .KingTop{
          transform: translateX(-8em) translateY(-25em);
        }    
      }
    }
  }

  .aboutHome{
    height: 619px;
    width: 100%;
    border: 1px solid #4B1218;
    background-color: #4B1218;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    .contentAbout{
      display: flex;
      flex-direction: row;
      
    .textAbout{
      margin: 10px 33px;

      h3{
        font-size: 64px;
        font-weight: 700;
        margin: 0;
      }

      p{
        width: 649px;
        height: 238px;
        font-weight: 700;
        font-size: 24px;
      }

    }  

    .imgAbout{
      height: 437px;
      width: 692px;
      border-radius:30px;
      border: 1px white;
    }
    }
    
  }
  
  .Manajer{
    font-family: Calibri, sans-serif;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
      font-size: 64px;
      font-weight: 700;
      padding-bottom: 5px;
      transform: translateX(-7em);
      color: #4B1218;
    }

    ul{
      list-style-type: none;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: row;
      width: 100%;

        li{
          width: 399px;
          height: 326px;

          .cardManajer{
            width: 100%;
            height: 326px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            text-align: center;
            align-items: center;

            img{
              height: 200px;
              width: 200px;
            }

            h4{
              font-weight: 700;
              font-size: 40px;
              margin: 5px 0;
            }

            p{
              font-weight: 700;
              font-size: 20px;
              margin:0;
              padding: 0 1em;
              color: white;
               background-color: #4B1218;
               border-radius: 48px;
            }
          }
        }
        li:nth-child(2){
          transform: translateY(-3em);    
        }
    }
  }
}

.Contests{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  .MyEvents{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 5px solid #4B1218 ;
    

    h2{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      background-color: #4B1218;
      color: white;
      height: 80px;
    }

    .SlaiderCont{
      margin-top: 53px;
      width: 1385.02px;
      height: 272px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .BannerCont{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1415.35px;
    height: 590px;
    border-radius: 30px;
    margin-top: 38px;

    .bannerSlider{
      .swiper {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        padding-left: 2em;
      }


      .swiper-button-prev {
        transform: translateX(2em);
      }
    
      .swiper-button-next {
        transform: translateX(0em);
      }
    }
  }

  .EventsCont{
    width: 1336.06px;
    height: 1057px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .arrEvents{
      display: grid;
      grid-template-columns : repeat(3, 1fr) ;
      grid-template-rows : repeat(3, 1fr) ;
      grid-column-gap : 10px;
      grid-row-gap : 10px ;
    }

    .statesCont{
      width: 918px;
      height: 96px;
      list-style-type: none;
      font-size: 34px;
      border: 5px solid black;
      border-radius: 137px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      padding: 0;
      transform: translateX(-5em);

      .activeCont{
        background-color:#4B1218;
        border-radius: 82.29px;
        color: white;
      }

      li{
        width: 291.86px;
        height: 78.86px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-family: "Labil Grotesk" , sans-serif;
       
      }
    }

    .paginationEvents{
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-top: 30px;

      li{

      }
    }
    
  }


}


