.active {
  color: white;
  background-color: #4B1218;
  min-height: 46px;
  min-width: 110px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
}

.swiper {
  --swiper-navigation-size: 20px;

  .swiper-button-prev,
  .swiper-button-next {
    content: 'public\img\arrow-circle-left.png';
    color: #4b1218;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 2px solid #4b1218;
    border-radius: 50%;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }

}

.sliderContainer {
  .swiper {
    max-width: 1300px;
    margin: 0 auto;

    @media screen and (min-width: 1100px) and (max-width: 1400px) {
      width: 1100px;
      padding-left: 100px;
    }

    @media screen and (min-width: 800px) and (max-width: 1100px) {
      width: 800px;
      padding-left: 250px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #5C131C;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }


  .swiper-button-next {
    transform: translateX(-1em);
  }

  @media screen and (min-width: 800px) and (max-width: 1400px) {
    .swiper-button-prev {
      transform: translateX(-0.5em);
    }
  }
}

.Members {
  width: 100%;
  height: 100%;
  font-family: "Calibri", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .supervisor {
    height: 485px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 64px;
      font-weight: 700;
      padding-bottom: 5px;
      color: #4B1218;
      margin: 10px 0 0 0;
    }

    .cardSupervisor {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 2em;

      li:nth-child(1) {
        border: 5px solid #4B1218;
      }

      li:nth-child(3) {
        order: -1;
      }

      li {
        border: 3px solid #4B1218;
        width: 400px;
        height: 330px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          height: 200px;
          width: 200px;
          transform: translateY(26px);
          border-radius: 50%;
        }


        h4 {
          font-weight: 700;
          font-size: 30px;
          transform: translateY(-10px);
        }

        p {
          font-weight: 700;
          font-size: 20px;
          margin: 0;
          padding: 0 1em;
          color: white;
          background-color: #4B1218;
          border-radius: 48px;
          transform: translateY(-30px);
        }
      }


    }
  }

  .rating {
    margin-top: 40px;
    background-image: url("../public/img/Фон.png");
    background-color: #4B1218;
    color: white;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 64px;
      font-weight: 700;
      margin-top: 17px;
    }

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      li:nth-child(2) {
        transform: translateX(-15em);
        margin-bottom: 30px;
      }

      li:nth-child(3) {
        position: absolute;
        top: 208px;
        right: 200px;
      }
    }

    .cardRating {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      color: black;
      width: 420px;
      height: 200px;
      border: 5px solid #4B1218;
      border-radius: 32px;
      background-color: white;

      .textCard {
        width: 260px;
        height: 200px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .imgRating {
        width: 160px;
        height: 160px;
        margin: 20px 8px 20px 20px;
        border-radius: 50%;
      }

      .KingTop {
        position: absolute;
        transform: translateY(-5.5em) translateX(-3.2em);
        height: 150px;
        width: 150px;
      }

      .numRating {
        width: 108.73px;
        height: 43.28px;
        border-radius: 16px;
        background-color: #4B1218;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(30px) translateY(-10px);
      }

      .positionRating {
        color: #4B1218;
        font-size: 26px;
        font-weight: 700;
        transform: translateY(0) translateX(70px);

        b {
          font-size: 42px;
          font-weight: 700;
        }
      }

      .textInfo {
        width: 250px;
        height: 72px;
        font-size: 25px;
        font-weight: 700;
        color: black;
        // overflow: hidden;

        .textName,
        .textGroup {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
      }
    }

    .cardWithButton {
      background-color: #f0f0f0;
      width: 1264px;
      height: 200px;


      .textCard {
        width: 1080px;
        height: 200px;
        display: flex;
        justify-content: space-between;

        .textInfo {
          flex-grow: 1;
          width: 418px;
          height: 80px;
          transform: translateX(-12em) translateY(-1em);
          display: flex;
          flex-direction: column;
          justify-content: center;

          .textName {
            font-size: 48px;
            font-weight: 700;
          }
        }

        .numRating {
          width: 200px;
          height: 80px;
          font-weight: 700;
          font-size: 50px;
          transform: translateX(8em) translateY(-1em);
        }

        .positionRating {
          width: 40px;
          height: 60px;
          transform: translateX(19em);
        }
      }


      .detailsButton {
        background-color: white;
        color: #4B1218;
        border: 2px solid #4B1218;
        width: 268px;
        height: 50px;
        border-radius: 30px;
        cursor: pointer;
        font-weight: 700;
        font-size: 32px;
        transform: translateY(-1.5em) translateX(-3em);
      }
    }
  }
}

.Account {
  font-family: "Labil Grotesk", "sans-serif";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .navigation_account {
    color: white;
    background-color: #4B1218;
    width: 758px;
    height: 56px;
    border-radius: 80px;
    list-style-type: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0;


    .activeAcc {
      background-color: white;
      color: black;
      border-radius: 48px;
      width: 188px;
      height: 48px;
    }

    li {
      margin: 5px;
      font-size: 20px;
      font-weight: 500;
      width: 162px;
      height: 46px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
