.Card {
  border: 5px solid #4B1218;
  border-radius: 30px;
  width: 300px;
  height: 249px;
  margin: 2em;
  font-family: "Calibri", sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }

  span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #4B1218;

    b {
      font-size: 40px;
      font-weight: bold;
    }
  }

  p {
    margin: 0;
    text-align: center;
  }

  .CardName {
    margin-top: 10px;
  }

  .CardGroup {
    margin-top: 0;
  }

  @media screen and (max-width: 1050px) {
    width: 225px; 
    height: 200px;
    font-size: 20px;

    img {
      width: 125px; 
      height: 125px;
    }

    span {
      position: absolute;
      top: -5px;
      right: 5px;
      font-size: 18px;
      color: #4B1218;
    }
  }

  @media screen and (max-width: 800px) and (min-width:600px) {
    width: 180px; 
    height:180px;
    font-size: 20px;

    img {
      width: 100px; 
      height: 100px;
    }

    span {
      position: absolute;
      top: -5px;
      right: 5px;
      font-size: 16px;
      color: #4B1218;

      b{
        font-size: 34px;
      }
    }
  }

  @media screen and (max-width: 600px) and (min-width:375px) {
    width: 125px; 
    height: 125px;
    font-size: 16px;
    border: 3px solid #4B1218;

    img {
      width: 60px; 
      height: 100px;
    }

    span {
      position: absolute;
      top: -1px;
      right: 8px;
      font-size: 16px;
      color: #4B1218;

      b{
        font-size: 24px;
      }
    }
  }

}