.Card {
  border: 5px solid #4B1218;
  border-radius: 30px;
  width: 300px;
  height: 249px;
  margin: 2em;
  font-family: "Calibri", sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }

  span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #4B1218;

    b {
      font-size: 40px;
      font-weight: bold;
    }
  }

  p {
    margin: 0;
    text-align: center;
  }

  .CardName {
    margin-top: 10px;
  }

  .CardGroup {
    margin-top: 0;
  }

  .CardInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding-right: 40px;
  }

  @media screen and (max-width: 1050px) {
    width: 225px; 
    height: 200px;
    font-size: 20px;

    img {
      width: 125px; 
      height: 125px;
    }

    span {
      position: absolute;
      top: -5px;
      right: 5px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 900px){
    width: 100%; 
    height:100px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;

    img {
      width: 70px; 
      height: 70px;
      margin-bottom: 20px;
      margin-left: 10px;
    }

    span {
      position: absolute;
      top: -5px;
      right: 5px;
      font-size: 16px;

      b{
        font-size: 34px;
      }
    }
  }

  @media screen and (max-width: 600px){
    width: 100%;
    height: 100px;
    padding: 0 10px;
    border-radius: 20px;
    font-size: 16px;

    img {
      width: 50px;
      height: 50px;
      margin: 0;
    }

    span {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 16px;

      b{
        font-size: 24px;
      }
    }

    .CardName, .CardGroup {
      text-align: left;
    }

    .CardInfo {
      padding: 0;
    }
  }
}   